body {
	border:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

.sprit{
  background-image: url('../images/fabshop_images.png');
  background-repeat: no-repeat;
   display: inline-block;
}
.car{
  width: 32px;
  height: 22px;
  background-position: -321px -42px;
}

.add-to-bag{
  align-items: center;
  line-height: 39px;
  font-size: 1em;
  font-weight: bold;
  display: inline-block;
  width: 80%;
  position: relative;
}
.thumbnail {
  box-shadow: none;
}
.orbit-previous, .orbit-next{
  color: #272727;
  font-size: 4rem;
}
.orbit-previous:hover,.orbit-next:hover{
  color: #9B9B9B;
  background-color: transparent;
}
.red{
  background-color: red;
}
.black{
  background-color: black;
}
.txt-white {
	color:white;
}
.txt-black {
	color:black;
}
.txt-gray {
  color: #9b9b9b !important;
}
.expanded {
	border:1px solid black;
}
.us {
	width:20px;
	height: 20px;
}
.headerTopBar {
	border: 1px solid;
}
.row .columns {
	padding-top: 1rem;
	padding-left: 0;
	height: 60px;
}
.logo{
  width: 98px;
}
.search{
	position: relative;
	top:5px;
}


@media (max-width: 1023px) and (min-width: 581px){
  .logo{
    height: 25px;
    width: 64px;
    text-align: center;
  }
}
@media (max-width: 1190px)  {
  li.hide-small {
	display: none;
	}
  span.new {
  	display:none;
  }
}
